# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Env
.env
venv/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Frontend (ignorado en rama backend)
frontend/

# OS
.DS_Store

# Logs
*.log

# IDE
.idea/
.vscode/
.cursor/

# Docker
*.dockerignore

# Conda
.conda/
